<%= form_with(model: search) do |form| %>
  <% if search.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
        <% search.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="autocomplete-city">
    <div class="border border-gray-300 rounded m4 p-2">
      <%= form.text_field :city, 
        class: "w-full", 
        placeholder: "city, zip ...",
        data: { 
          autocomplete_city_target: "input", 
          action: "input->autocomplete-city#search"
        } 
      %>
    </div>
    <div data-autocomplete-city-target="results" class="mt-2"></div>
    <%= form.hidden_field :latitude, data: { autocomplete_city_target: 'latitude' } %>
    <%= form.hidden_field :longitude, data: { autocomplete_city_target: 'longitude' } %>
    <%= form.hidden_field :timezone, data: { autocomplete_city_target: 'timezone' } %>
  </div>

  <div class="mt-2 flex justify-center">
    <%= form.submit "Search", class: "bg-green-300 hover:bg-green-400 rounded p-2 w-1/5 cursor-pointer" %>
  </div>
<% end %>
